{% extends "base.html" %}
{% block content %}
<section id="content">
    <div class="row col-12 col-xl-11 mx-auto">
        <div class="col-12 col-lg-9 col-xxl-10">
            {% block content_title %}

            {% endblock %}
            <div class="row">
                {% for article in articles_page.object_list %}
                <div class="card w-100 my-1 px-0">
                    <div class="card-body">
                        <div class="card-title">
                            <a class="h3 text-body" href="{{ SITEURL }}/{{ article.url }}"
                                rel="bookmark" title="{{ article.title|striptags }}">{{ article.title }}</a>
                        </div>
                        <div class="h6 card-subtitle">
                            {{ article.locale_date }}
                            {% if article.authors %}
                            {% for author in article.authors|sort %}
                            <a class="text-secondary" href="{{ SITEURL }}/{{ author.url }}"> {{ author }}</a>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <p class="card-text">{{ article.summary }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="row">
                            <div class="col-9">
                                {% if article.tags %}
                                {% for tag in article.tags %}
                                <a class="badge bg-dark link-light" href="{{ SITEURL }}/{{ tag.url }}">{{ tag|e }}</a>
                                &MediumSpace;
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <hr>
            {% include 'pagination.html' %}
        </div>

        {% include 'sidebar.html' %}
    </div>
</section>
{% endblock content %}
